<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 连接字符串是否加密 -->
		<add key="ConStringEncrypt" value="true"/>
		<!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
		<!--server=ip;uid=sa;pwd=sa;database=db;-->
		<!--<add key="connectionString" value="1F6D0E7B9D0847D24D5AD61C9C2C1A54D446F4083D8D35761A1848C7286C9E9EF1D1CDEDE93E9DB6F58519EA37A1210DBF70FAA8DCF9CA30"/>-->
		<!-- POS本机的数据库 -->
		<add key ="connectionString" value ="D3668A8D79C2AF6761D763FE318C2399DCEC177A747BBDCF9591D23CAD08A49FBDAB4E0332DA393D75115A218D9CC308"/>
		<!-- 自己本机数据库-->
		<!--数据访问层程序集名称 -->
		<add key="AppDAL" value="SQLServerDAL"/>
	</appSettings>
</configuration>