<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="AppDAL" value="ERP.SQLServerDAL"/>
		<add key="ConStringEncrypt" value="true"/>
		<add key ="connectionString" value ="D3668A8D79C2AF6761D763FE318C2399DCEC177A747BBDCF9591D23CAD08A49FBDAB4E0332DA393D75115A218D9CC308"/>
	</appSettings>
</configuration>